<form method="POST"
      class="form_container add_vending_form"
      data-customer-id=""
      th:fragment="_addVendingToCustomer">

    <button class="close closeAddVendingForm">X</button>

    <fieldset class="fieldset">
        <legend><span class="company_name"
                      data-company-name=""></span></legend>

        <div class="elements">
            <select name="vending"
                    id="vending"
                    required="required">
                <option th:if="${#lists.isEmpty(availableVending)}">
                    Aucuns D.A. disponible
                </option>
                <option value="" th:unless="${#lists.isEmpty(availableVending)}">
                    Choisissez une machine
                </option>
                <option th:unless="${#lists.isEmpty(availableVending)}"
                        th:each="vending : ${availableVending}"
                        th:value="${vending.vendingId}"
                        th:text="${vending.brand + ' - ' + vending.model}">
                </option>
            </select>
            <label for="vending">Les distributeurs</label>
        </div>
        <div class="elements">
            <input type="text"
                   class=""
                   id="name"
                   name="name"
                   required="required">
            <label for="name">Attribuer un nom</label>
        </div>
    </fieldset>

    <input type="submit" class="addVending">
</form>