<form method="POST"
      class="form_container new_user_form">

    <button class="close closeNewUserForm">X</button>

    <fieldset class="fieldset">
        <legend>Création d'un utilisateur</legend>

        <div class="elements">
            <input required type="text" id="firstname" name="firstname">
            <label for="firstname">Prénom</label>
        </div>

        <div class="elements">
            <input required type="text" id="lastname" name="lastname">
            <label for="lastname">Nom</label>
        </div>

        <div class="elements">
            <input required type="email" id="email" name="email">
            <label for="email">Email</label>
        </div>

        <div class="elements">
            <select name="authorities"
                    id="authorities">
                <option th:each="role : ${authorities}"
                        th:value="${role.id}"
                        th:text="${role.label}"></option>
            </select>
            <label for="authorities">Role</label>
        </div>

    </fieldset>

    <input type="submit" class="newUserSubmit">
    <div class="loader hidden"><img th:src="@{/img/Spinner.svg}" alt="animation : patienter"></div>

</form>
