<aside class="Container_sidebar Sidebar" th:fragment="sidebar" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="Sidebar_links" th:classappend="${(#strings.endsWith(request.requestURI, '/signIn')
                        or #strings.endsWith(request.requestURI, '/signUp')) ? 'hidden' : ''}">

        <a th:href="@{/customers/getAllCustomersByCompanyId}"
           sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STOCKER')"
           class="Sidebar_links_link"
           th:classappend="${fragmentPath != 'fragments/customers' ? '' : 'selected'}">Clients</a>

        <a th:href="@{/vendings/getAllVending}"
           sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_STOCKER')"
           class="Sidebar_links_link"
           th:classappend="${fragmentPath != 'fragments/vendings' ? '' : 'selected'}">Machines</a>

        <a th:href="@{/products/stock}"
           sec:authorize="hasRole('ROLE_ADMIN')"
           class="Sidebar_links_link"
           th:classappend="${fragmentPath != 'fragments/stock' ? '' : 'selected'}">Stock</a>

        <a th:href="@{/users/getAllUsersByCompanyId}"
           sec:authorize="hasRole('ROLE_ADMIN')"
           class="Sidebar_links_link"
           th:classappend="${fragmentPath != 'fragments/users' ? '' : 'selected'}">Utilisateurs</a>

        <a th:href="@{/chartJS/}"
           sec:authorize="hasRole('ROLE_ADMIN')"
           class="Sidebar_links_link"
           th:classappend="${fragmentPath != 'fragments/chartStock' ? '' : 'selected'}">Charte</a>

        <a th:href="@{/logout}" sec:authorize="isAuthenticated()" class="Sidebar_links_link">Deconnexion</a>

    </nav>
</aside>