<main class="Main UsersContainer">

    <div class="containerBlur">
        <h1 class="Main_title">Mes utilisateurs</h1>

        <div class="elements submit">
            <button class="btnAddUser" data-text="Ajouter un utilisateur"></button>
        </div>

        <section class="list_container user">
            <div th:replace="~{fragments/_users}"></div>
        </section>
    </div>

    <div class="container_new_user_form hidden">
        <div th:replace="~{fragments/_createUser}"></div>
    </div>

</main>

<script type="module" th:src="@{/js/newUser.js}"></script>
<script type="module" th:src="@{/js/UpdateUser.js}"></script>
