<div th:if="${dataVendingBuild != null}">

    <ul th:each="i : ${#numbers.sequence(1, dataVendingBuild.nbVendingTray)}" class="plateau">
        <li th:each="j : ${#numbers.sequence(1, dataVendingBuild.nbVendingSpiral)}" class="spiral"
            th:with="key = ${NUM_TO_ALPHA.get(i) + j}"
            th:data-product-barcode="${dataVendingBuild.dataVendingStock.get(key) != null ? dataVendingBuild.dataVendingStock.get(key).barcode : ''}">

            <div class="batch_picture"></div>

            <p class="location_identifier"
               th:data-vending="${dataVendingBuild.vendingTags != null ? dataVendingBuild.vendingTags : ''}"
               th:data-vending-id="${dataVendingBuild.vendingId}"
               th:text="${key}"></p>
        </li>
    </ul>
    <div th:text="${dataVendingBuild.dataVendingStock}" hidden="hidden"></div>

</div>
