<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/customerDTO">Customer</button>
  <button mat-button routerLink="/vending">Vending</button>
  <button mat-button routerLink="/stock">Stock</button>
  <button mat-raised-button *ngIf="!authService.isAuthenticated()" routerLink="/login">Login</button>
  <button mat-raised-button *ngIf="authService.isAuthenticated()" (click)="onLogout()" routerLink="/logout">Logout</button>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <button mat-button routerLink="/dashboard">Dashboard</button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>dashboard</mat-icon>
        <button mat-button routerLink="/appUserDTO">Users</button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
