///////// SIDEBAR /////////
$sidebarBackgroundColor: #3F444E;
$sidebarHoverColor: #4b505b;
$sidebarActiveColor: #202226;

///////// VENDING /////////
$rupture: #FF9900;
$dlc: #9E0000;

////////// LIST //////////
$listBackgroundColor: #4E7EAC;
$listChildEvenColor: #A7B2BD;

///////// FORM //////////
$firstColorForm: rgba(255, 255, 255, 0.3);
$boxShadowContainerForm: 20px 20px 40px -6px rgba(255, 255, 255, 0.3);
$boxShadowInputForm: 4px 4px 60px rgba(0, 0, 0, .2);

/////// BUTTON ///////
$saveButton: #66BB6A ;
$modifyButton: #7588A5 ;
$warningButton: rgb(229, 57, 53);
$cancelButton: #BDBDBD ;
$closeButton: #757575 ;


$headerBackgroundColor: #A9A9A9;
$mainBackgroundColor: #24476B;


$primaryTextColor: #F2F2F2;
$blackTextColor: #131212;


$scaleFactor780px: 0.8;
$scaleFactor630px: 0.6;


$boxShadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);


$boxShadowMenu: 0 6px 10px rgba(0, 0, 0, 0.3);
$textShadowH1: 1px 1px 2px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(255, 255, 255, 0.5);
$borderRadius: 3px;
$gap: 5px;


$vendingLocationWidth: 40px;
$vendingLocationHeight: 80px;
$spiralWidth: 30px;
$spiralHeight: 30px;
$spiralSize: 3px;