@keyframes sidebarLinkHover {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.008);
  }
}
@keyframes vibration {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes burgerAnim {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes displayCustomerInfoAnim {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes pathAnimation {
  40% {
    stroke-dasharray: 22 230;
  }
  60% {
    stroke-dashoffset: -65;
  }
  100% {
    stroke-dashoffset: -65;
    stroke-dasharray: 160;
  }
}
@keyframes pathAnimation-out {
  100% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dasharray: 22 230;
  }
  40% {
    stroke-dashoffset: -65;
  }
  0% {
    stroke-dashoffset: -65;
    stroke-dasharray: 160;
  }
}
.form_container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  background-color: rgba(255, 255, 255, 0.3);
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 1em;
  gap: 1em;
  padding: 5em 3em 3em;
  justify-items: center;
  width: min-content;
}
@media screen and (max-width: 800px) {
  .form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.form_container .fieldset {
  display: grid;
  grid-template-columns: minmax(auto, 200px) minmax(70%, auto);
  flex-wrap: wrap;
  width: 100%;
  border: none;
  column-gap: 1em;
  justify-content: space-between;
}
.form_container .elements {
  position: relative;
  display: flex;
  flex-direction: column;
  width: min-content;
}
.form_container legend {
  position: absolute;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: #24476B;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  top: 2em;
  left: 3em;
  text-transform: uppercase;
  width: 1.1em;
  white-space: nowrap;
}
.form_container input, .form_container textarea, .form_container select {
  width: 250px;
  backdrop-filter: blur(5px);
  background-color: transparent;
  padding: 2em;
  border-radius: 1em;
  margin: 0.5em 0 1em;
  border: none;
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  color: #24476B;
  font-size: 0.8em;
}
.form_container input.field_empty, .form_container textarea.field_empty, .form_container select.field_empty {
  border: none;
  background-color: rgba(255, 0, 0, 0.08);
  border-left: solid 1px rgba(255, 0, 0, 0.8);
  border-top: solid 1px rgba(255, 0, 0, 0.8);
}
.form_container input:focus-visible, .form_container textarea:focus-visible, .form_container select:focus-visible {
  outline-color: white;
  outline-width: medium;
}
.form_container .loader {
  width: 70px;
}

select:focus {
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
}

.submit {
  width: 100%;
  text-align: end;
  position: relative;
}

input[type=submit] {
  color: #24476B;
  backdrop-filter: blur(5px);
  width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 3em;
  padding: 1em;
}
input[type=submit]:hover {
  cursor: pointer;
}
input[type=submit]:active {
  box-shadow: none;
}

button {
  backdrop-filter: blur(5px);
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0;
  border: 1px solid rgba(54, 58, 66, 0.5);
  cursor: pointer;
}
button:active {
  box-shadow: none;
}
button.close {
  border-radius: 0.9em;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: 3;
  top: 1em;
  right: 1em;
}

.btnAddBatch,
.btnAddUser,
.btnAddCustomer,
.btn_add_vending,
.btnBackToCustomers,
.btn_back_to_vendingList,
.btn_back_add_batch_vending_to_vendingList,
.btn_back_new_vending_to_vendingList {
  display: flex;
  flex-direction: row-reverse;
  height: 31px;
  align-items: center;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  z-index: 2;
  right: 10%;
  position: fixed;
  top: 35%;
  background-color: #4E7EAC;
  font-size: 1em;
  text-transform: uppercase;
  transition: display 1s;
}
.btnAddBatch:hover::after,
.btnAddUser:hover::after,
.btnAddCustomer:hover::after,
.btn_add_vending:hover::after,
.btnBackToCustomers:hover::after,
.btn_back_to_vendingList:hover::after,
.btn_back_add_batch_vending_to_vendingList:hover::after,
.btn_back_new_vending_to_vendingList:hover::after {
  content: attr(data-text);
  background-color: #4E7EAC;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 0.6em;
}
.btnAddBatch::before,
.btnAddUser::before,
.btnAddCustomer::before,
.btn_add_vending::before,
.btnBackToCustomers::before,
.btn_back_to_vendingList::before,
.btn_back_add_batch_vending_to_vendingList::before,
.btn_back_new_vending_to_vendingList::before {
  content: "+";
  color: white;
}
.btnAddBatch:hover::before,
.btnAddUser:hover::before,
.btnAddCustomer:hover::before,
.btn_add_vending:hover::before,
.btnBackToCustomers:hover::before,
.btn_back_to_vendingList:hover::before,
.btn_back_add_batch_vending_to_vendingList:hover::before,
.btn_back_new_vending_to_vendingList:hover::before {
  display: none;
}

.btnBackToCustomers,
.btn_back_to_vendingList,
.btn_back_add_batch_vending_to_vendingList,
.btn_back_new_vending_to_vendingList {
  background-color: #E53935;
}
.btnBackToCustomers:hover::after,
.btn_back_to_vendingList:hover::after,
.btn_back_add_batch_vending_to_vendingList:hover::after,
.btn_back_new_vending_to_vendingList:hover::after {
  content: attr(data-text);
  background-color: #E53935;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 0.6em;
}
.btnBackToCustomers::before,
.btn_back_to_vendingList::before,
.btn_back_add_batch_vending_to_vendingList::before,
.btn_back_new_vending_to_vendingList::before {
  content: "x";
}

label {
  position: absolute;
  top: 1.8em;
  left: 1em;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  color: #24476B;
  font-weight: 500;
  opacity: 0.7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
label.onFocus {
  font-size: 0.8em;
  transform: translateY(-8px) translateX(14px);
}

select + label, input[type=date] + label, #location + label {
  font-size: 0.8em;
  transform: translateY(-8px) translateX(14px);
}

.container_new_user_form,
.container_new_vending_form,
.container_add_vending_form,
.container_new_batch_form,
.container_add_batch_form,
.container_add_vending_form {
  position: fixed;
  z-index: 2;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
}

.container_new_customer_form .form_container,
.container_register_form .form_container,
.container_login_form .form_container {
  width: min-content;
  margin: 0 auto;
}

.grid_container_form {
  width: 100%;
  display: grid;
  column-gap: 1em;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 0.8em;
  border-radius: 8px;
}
.grid_container_form:first-child {
  font-size: 1.2em;
  font-weight: bold;
}
.grid_container_form:nth-child(even) {
  background: #A7B2BD;
}
.grid_container_form .input-form {
  border: none;
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-top: solid 1px rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
.grid_container_form .input-form:disabled {
  background-color: rgba(255, 255, 255, 0.1);
}
.grid_container_form .input-form.field_empty {
  border: none;
  background-color: rgba(255, 0, 0, 0.08);
  border-left: solid 1px rgba(255, 0, 0, 0.8);
  border-top: solid 1px rgba(255, 0, 0, 0.8);
}
.grid_container_form .text {
  text-align: center;
}
.grid_container_form input[type=submit], .grid_container_form button {
  color: #24476B;
  padding: 12px 20px;
  cursor: pointer;
  width: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.grid_container_form input[type=submit].update, .grid_container_form input[type=submit].delete, .grid_container_form input[type=submit].save, .grid_container_form input[type=submit].cancel, .grid_container_form button.update, .grid_container_form button.delete, .grid_container_form button.save, .grid_container_form button.cancel {
  padding: 0.5em 0.7em;
  transition: 0.3s;
  width: 30px;
  height: 30px;
}
.grid_container_form input[type=submit].update span, .grid_container_form input[type=submit].delete span, .grid_container_form input[type=submit].save span, .grid_container_form input[type=submit].cancel span, .grid_container_form button.update span, .grid_container_form button.delete span, .grid_container_form button.save span, .grid_container_form button.cancel span {
  position: relative;
  top: -5px;
  left: -7px;
}
.grid_container_form input[type=submit].update:disabled, .grid_container_form input[type=submit].delete:disabled, .grid_container_form input[type=submit].save:disabled, .grid_container_form input[type=submit].cancel:disabled, .grid_container_form button.update:disabled, .grid_container_form button.delete:disabled, .grid_container_form button.save:disabled, .grid_container_form button.cancel:disabled {
  cursor: default;
}
.grid_container_form input[type=submit].update:disabled:hover, .grid_container_form input[type=submit].delete:disabled:hover, .grid_container_form input[type=submit].save:disabled:hover, .grid_container_form input[type=submit].cancel:disabled:hover, .grid_container_form button.update:disabled:hover, .grid_container_form button.delete:disabled:hover, .grid_container_form button.save:disabled:hover, .grid_container_form button.cancel:disabled:hover {
  transform: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.grid_container_form input[type=submit].update, .grid_container_form button.update {
  background-color: #7588A5;
}
.grid_container_form input[type=submit].update:disabled:hover, .grid_container_form button.update:disabled:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.grid_container_form input[type=submit].save, .grid_container_form button.save {
  background-color: #66BB6A;
}
.grid_container_form input[type=submit].save:disabled, .grid_container_form button.save:disabled {
  transition: 0.3s;
  background-color: rgb(229, 57, 53);
}
.grid_container_form input[type=submit].save:disabled:hover, .grid_container_form button.save:disabled:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  animation: vibration 0.3s 0.2s 1;
}
.grid_container_form input[type=submit].delete, .grid_container_form button.delete {
  background-color: rgb(229, 57, 53);
}
.grid_container_form input[type=submit].delete:disabled:hover, .grid_container_form button.delete:disabled:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.grid_container_form input[type=submit].cancel, .grid_container_form button.cancel {
  background-color: #BDBDBD;
}
.grid_container_form input[type=submit].close, .grid_container_form button.close {
  background-color: #757575;
  color: white;
  padding: 0;
  border: 1px solid rgba(54, 58, 66, 0.5);
  cursor: pointer;
  width: 44px;
  height: 44px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.grid_container_form input[type=submit].close span, .grid_container_form button.close span {
  position: relative;
  top: 2px;
  left: 1px;
}
.grid_container_form .buttons_actions_container {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0.5em;
}

.vendingGrid {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5em;
  padding: 2em 5em 7em 2em;
  border: solid;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.2em;
}
@media screen and (max-width: 780px) {
  .vendingGrid {
    top: -10%;
    transform: scale(0.8);
    margin: 0;
  }
}
@media screen and (max-width: 630px) {
  .vendingGrid {
    top: -20%;
    transform: scale(0.6);
    margin: 0;
  }
}
.vendingGrid::after {
  content: "";
  position: absolute;
  top: 1.7em;
  left: 1.7em;
  right: 4.7em;
  bottom: 6.7em;
  border: solid 1px;
}
.vendingGrid::before {
  content: "";
  position: absolute;
  top: 12em;
  height: 100px;
  right: 0.8em;
  width: 50px;
  border: solid 1px;
}
.vendingGrid ul.plateau {
  display: grid;
  justify-items: center;
  vertical-align: bottom;
  column-gap: 0.2em;
  transition: 0.2s;
  border-radius: 5px;
}
.vendingGrid ul.plateau:hover {
  transform: scale(130%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
  opacity: 1.1;
  border-radius: 5px;
}
.vendingGrid ul.plateau li.spiral {
  position: relative;
  width: 40px;
  height: 80px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
}
.vendingGrid ul.plateau li.spiral:hover {
  transform: scale(130%);
  position: relative;
  z-index: 3;
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.4588235294);
  border-radius: 5px;
}
.vendingGrid ul.plateau li.spiral .batch_picture, .vendingGrid ul.plateau li.spiral .batch_picture:hover {
  border-radius: 5px;
}
.vendingGrid ul.plateau li.spiral::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 2px;
  border-radius: 50%;
  border: solid 3px;
  border-color: black black black transparent;
  transform: rotate(316deg);
}
.vendingGrid ul.plateau li.spiral .location_identifier {
  position: absolute;
  width: 100%;
  padding: 0.1em 0;
  bottom: 0;
  background-color: black;
  color: white;
  text-align: center;
  z-index: 2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Roboto", Lexend, sans-serif;
}

ul {
  list-style: none;
}

.Header {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  padding: 0.8em;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-image: url("../img/snacking.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header_logo {
  width: auto;
  left: 1em;
  top: -1em;
  height: 45%;
  position: relative;
}
.Header_logo img {
  width: auto;
  height: 100%;
}
.Header_logo::before, .Header_logo::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -7px;
  right: -15px;
  bottom: -8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  z-index: -1;
}
.Header_logo::after {
  top: -5px;
  left: -7px;
  right: -15px;
  bottom: -7px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px -5px rgba(255, 255, 255, 0.8);
}
.Header_search {
  height: 40px;
  width: 60%;
}
@media screen and (min-width: 480px) {
  .Header_search {
    max-width: 300px;
  }
}
.Header_search_field {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .Header_burger {
    display: none;
  }
}
.Header_topNav {
  display: none;
}
@media screen and (min-width: 1024px) {
  .Header_topNav {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1em;
  }
  .Header_topNav_account:visited {
    color: black;
  }
  .Header_topNav_user {
    display: flex;
    flex-direction: column;
    row-gap: 0.3em;
  }
  .Header_topNav_user_name {
    font-size: 0.8em;
  }
  .Header_topNav_user_role {
    font-size: 0.6em;
  }
}
.Header_topNav_img {
  background-image: url("../img/user.svg");
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100%;
}
.Header_topNav_img:hover {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.Container {
  background: #24476B;
  min-height: 100vh;
  display: grid;
  padding-top: 8.6em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .Container {
    display: flex;
  }
}
.Container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sidebar {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80px;
  text-align: center;
  background-color: transparent;
}
.Sidebar_links {
  display: grid;
  column-gap: 0.5em;
}
.Sidebar_links_link:any-link {
  transition: 0.3s ease-in-out;
  text-decoration: none;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  position: relative;
}
.Sidebar_links_link:any-link::before, .Sidebar_links_link:any-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: -1;
  border-radius: 1em 1em 0 0;
}
.Sidebar_links_link:any-link.selected {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1em 1em 0 0;
}
.Sidebar_links_link:any-link:active {
  box-shadow: none;
}
.Sidebar_links_link:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 1em 1em 0 0;
}
.Sidebar_links_link_user {
  height: 30px;
}
@media screen and (max-width: 1024px) {
  .Sidebar {
    display: none;
  }
  .Sidebar.active {
    animation: burgerAnim 0.8s ease 0s 1 normal forwards;
    position: absolute;
    left: auto;
    right: 0;
    top: 100px;
    z-index: 2;
    display: block;
    min-width: 30%;
    max-width: 200px;
    height: auto;
    text-align: center;
    background-color: #3F444E;
  }
  .Sidebar_links {
    display: flex;
    text-align: right;
    align-items: stretch;
    flex-direction: column;
  }
  .Sidebar_links_link:any-link {
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: white;
    padding: 1em 2em 1em 0;
    text-transform: uppercase;
    position: relative;
    right: 0;
    bottom: 0;
  }
  .Sidebar_links_link:any-link.selected {
    text-decoration: underline;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    backdrop-filter: blur(3px);
    position: relative;
  }
  .Sidebar_links_link:any-link:active {
    box-shadow: none;
  }
  .Sidebar_links_link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.1em;
    backdrop-filter: blur(3px);
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .Sidebar.active {
    min-width: 40%;
  }
}
@media screen and (max-width: 550px) {
  .Sidebar.active {
    min-width: 50%;
  }
}

.Main {
  position: relative;
  margin: 2em auto 8em;
  width: 80%;
  transition: 1s ease;
}
.Main.activeBlur {
  filter: blur(2px);
}
.Main_title {
  font-weight: 800;
  color: #F2F2F2;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 1px 1px 2px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 0 1em 0;
  font-size: 3em;
  text-align: center;
}
.Main_customers {
  display: flex;
  gap: 3em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.Main_customers.withAlert {
  border: solid 2px;
  padding: 2em;
  margin-bottom: 2em;
}
.Main_customers.withAlert h2 {
  border-bottom: solid 2px;
  width: 100%;
}

.Customer {
  font-size: 1em;
  width: 100%;
  background-color: white;
  border-radius: 0.5em;
  overflow: hidden;
  position: relative;
  border-top: solid white;
  border-left: solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
@media screen and (min-width: 1024px) {
  .Customer {
    max-width: 450px;
  }
}
.Customer_name {
  font-size: 1.2em;
  padding: 0.5em;
  background-color: rgba(113, 118, 129, 0.71);
}
.Customer_name::after {
  content: attr(data-text);
  opacity: 0;
  cursor: pointer;
  color: white;
  position: relative;
  left: 2em;
  transition: opacity 0.4s;
}
.Customer_name:hover::after {
  opacity: 1;
}
.Customer_name span {
  font-size: 0.4rem;
  background-color: lightgrey;
  padding: 0.3em;
  position: absolute;
  border-radius: 2px;
  top: 35%;
  right: 1em;
  filter: drop-shadow(0px 0px 1px #000);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .Customer_name span {
    display: none;
  }
}
.Customer_container {
  overflow: hidden;
  padding: 1em;
  gap: 1em;
}
@media screen and (min-width: 1024px) {
  .Customer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.Customer_container_vendings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
}
.Customer_container_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .Customer_container_infos {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.Customer_container_infos_contact {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
.Customer_container_infos_contact_group {
  text-align: center;
}
.Customer_container_infos_contact_group_title {
  grid-row: 1/2;
}
.Customer_container_infos_contact_group_ul {
  grid-row: 2/3;
}
.Customer_container_infos_contact_group_title {
  text-decoration: underline;
  font-size: 1em;
}
.Customer_container_infos_contact_group_ul {
  margin-top: 2px;
}
.Customer_container_infos_contact_group_ul li {
  font-size: 0.6em;
}
@media screen and (min-width: 768px) {
  .Customer_container_infos_contact_group {
    display: flex;
    flex-direction: column;
  }
}
.Customer_container_infos_maps {
  position: relative;
  width: 100%;
  padding-bottom: 42.8571428571%;
}
@media screen and (min-width: 1024px) {
  .Customer_container_infos_maps {
    padding-bottom: 75%;
  }
}
.Customer_container_infos_maps_img {
  border-radius: 3px;
  border: solid 1px black;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2px);
  height: 100%;
  object-fit: cover;
}

.Customer.alert .Customer_name {
  position: relative;
  color: white;
  background-color: rgba(255, 0, 0, 0.71);
}
@media screen and (min-width: 1024px) {
  .Customer.alert .Customer_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .Customer.alert .Customer_container_infos {
    display: none;
  }
  .Customer.alert .Customer_container_infos.active {
    animation: displayCustomerInfoAnim 0.8s ease 0s 1 normal forwards;
    display: flex;
  }
}

.Footer {
  position: relative;
  bottom: 0;
  padding: 0.5em 0;
  background-color: black;
  color: #F2F2F2;
  text-align: center;
}

.Vending {
  cursor: pointer;
  border-radius: 1px;
  border: solid 2px black;
  color: white;
  position: relative;
  /* min-width: 120px; */
  width: 60px;
}
.Vending_img {
  padding: 2px;
  max-height: 100px;
  width: 55px;
  object-fit: cover;
}
.Vending_footer {
  font-size: 1em;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding: 0.2em;
  text-align: center;
}
.Vending_footer_name {
  text-overflow: ellipsis;
  font-size: 0.6em;
}
.Vending_footer_type {
  text-overflow: ellipsis;
  font-size: 0.4em;
}
.Vending.rupture {
  border-color: #FF9900;
}
.Vending.rupture::before {
  content: "RUPTURE";
  border-radius: 0 2px 2px 0;
  width: max-content;
  position: absolute;
  top: 25%;
  left: -2px;
  padding: 3px;
  font-size: 0.5em;
  color: white;
  text-align: center;
  background-color: #FF9900;
}
.Vending.rupture .Vending_footer {
  background-color: #FF9900;
}
.Vending.dlc {
  border-color: #9E0000;
}
.Vending.dlc::after {
  content: "DLC";
  border-radius: 2px 0 0 2px;
  width: max-content;
  position: absolute;
  top: 25%;
  right: -2px;
  padding: 3px;
  font-size: 0.5em;
  color: white;
  text-align: center;
  background-color: #9E0000;
}
.Vending.dlc .Vending_footer {
  background-color: #9E0000;
}
.Vending.dlc.rupture {
  border-top: solid #FF9900 2px;
  border-right: solid #9E0000 2px;
  border-bottom: solid #9E0000 2px;
  border-left: solid #FF9900 2px;
}
.Vending.dlc.rupture::before {
  content: "RUPTURE";
  border-radius: 0 2px 2px 0;
  width: max-content;
  position: absolute;
  top: 5%;
  left: -2px;
  padding: 3px;
  font-size: 0.5em;
  color: white;
  text-align: center;
  background-color: #FF9900;
}
.Vending.dlc.rupture::after {
  content: "DLC";
  border-radius: 2px 0 0 2px;
  width: max-content;
  position: absolute;
  top: 25%;
  right: -2px;
  padding: 3px;
  font-size: 0.5em;
  color: white;
  text-align: center;
  background-color: #9E0000;
}
.Vending.dlc.rupture .Vending_footer {
  background: #9E0000;
  background-clip: border-box;
}

.Icon {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.Icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  transform: translateX(-50%) translateY(-50%);
}

.Icon span::before, .Icon span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  transform: translateY(-6px);
  transition: transform 0.5s;
}

.Icon span::after {
  transform: translateY(6px);
}

.Icon:hover span::before {
  transform: translateY(-8px);
}

.Icon:hover span::after {
  transform: translateY(8px);
}

.Header_burgerIcon span::before {
  transition: background 0.5s steps(1, end);
}

.Header_burgerIcon span::before, .Header_burgerIcon span::after {
  transform-origin: 100% 50%;
}

.Header_burgerIcon svg {
  opacity: 0;
  fill: transparent;
  stroke-width: 2px;
  stroke: #000000;
  stroke-dasharray: 22 230;
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
}

.Header_burgerIcon.isOpened span {
  transition: background 0.5s steps(1, start);
  background-color: transparent;
}

.Header_burgerIcon.isOpened span::before {
  transform: translateX(-3px) translateY(-8px) rotate(-45deg);
}

.Header_burgerIcon.isOpened span::after {
  transform: translateX(-3px) translateY(8px) rotate(45deg);
}

.Header_burgerIcon.isOpened svg {
  opacity: 1;
  transition: opacity 0.5s steps(1, start);
  animation: pathAnimation 0.5s linear;
  animation-fill-mode: forwards;
}

.Header_burgerIcon.isClosed svg {
  animation: pathAnimation-out 0.5s linear;
}

.grid_container {
  display: grid;
  column-gap: 1em;
  justify-items: center;
  align-items: center;
}
.grid_container .input-form {
  width: 100%;
}
.grid_container .input-form .text {
  text-align: center;
}
.grid_container .hidden {
  display: none;
}
.grid_container .save {
  grid-column: 6/8;
}
.machine {
  width: 100%;
  background-color: #4b505b;
  margin: 1em 0;
}

.register {
  padding: 1em;
  height: 100vh;
}
.register fieldset {
  display: flex;
  gap: 1em;
  flex-direction: column;
  padding: 1em;
}

h5 {
  color: #9E0000;
}

h4 {
  color: cornflowerblue;
}

.stock {
  margin: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: column;
}

.vendingMain {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
}

.grid_container {
  width: 100%;
  display: grid;
  column-gap: 1em;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 0.8em;
  border-radius: 8px;
}
.grid_container.vending {
  cursor: pointer;
}
.grid_container.vending:hover {
  border: 1px solid #363A42;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}
.grid_container:first-child {
  font-size: 1.2em;
  font-weight: bold;
}
.grid_container:nth-child(even) {
  background: #A7B2BD;
}
.grid_container .stockImg {
  max-height: 50px;
}

.flex_column_container {
  display: flex;
  flex-direction: column;
}

.padding {
  padding: 1em;
}

.list_container {
  width: 100%;
  background-color: #4E7EAC;
  padding: 1em;
  display: flex;
  flex-direction: column;
  border: 1px solid #363A42;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4), 0 16px 32px rgba(0, 0, 0, 0.2), inset 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: pulse 5s 0.5s ease-in-out infinite alternate;
}
.list_container.batch {
  gap: 0;
}
.list_container::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  pointer-events: none;
  z-index: -1;
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none !important;
}

.company_name {
  font-weight: bold;
  font-size: 2em;
}

.chartContainer {
  margin-right: auto;
  margin-left: auto;
  align-self: center;
}

/*# sourceMappingURL=global.css.map */
