<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Vending list</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field appearance="outline" class="container">
        <mat-label>Filter</mat-label>
        <input matInput (change)="filterGoods($event)">
      </mat-form-field>

      <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-sort-header
              mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="brand">
          <th  mat-sort-header
               mat-header-cell *matHeaderCellDef> brand </th>
          <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
          <th  mat-sort-header
               mat-header-cell *matHeaderCellDef> stock </th>
          <td mat-cell *matCellDef="let element">
            {{element.stock}}
          </td>
        </ng-container>

        <ng-container matColumnDef="batchDetails">
          <th mat-header-cell *matHeaderCellDef> batchDetails </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button
                    (click)="getGoods(element)"
                    color="primary">
              batchDetails
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </mat-card-content>
  </mat-card>
</div>
