<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="a voir">
    <title>dashboard</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header></header>
    <main>
        <table>
            <tr>
                <th>Brand</th>
                <th>Model</th>
            </tr>
            <tr th:each="v : ${vending}">
                <td th:text="*{v.brand}"></td>

            </tr>
        </table>
    </main>
</body>
</html>